{% extends "base.html" %}
{% block first_section %}


{% endblock %}
{% block second_section %}

    <section id="av">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Tech Help</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">

                <div class="col-sm-4 portfolio-item">
                    <h3>Malware Removal Tools</h3>
                        <ul>
                        <li><a href="http://www.superantispyware.com/downloadfile.html?productid=SUPERANTISPYWAREFREE">Super Anti-spyware</a></li>
                        <li><a href="http://www.bleepingcomputer.com/download/hijackthis/dl/89/">Hijackthis</a></li>
                        <li><a href="http://www.spybotupdates.com/files/spybotsd162.exe">Spybot Search &amp; Destroy</a></li>
                        <li><a href="http://downloads.malwarebytes.org/file/mbam/">Malwarebytes Anti-Malware</a></li>
                        <li><a href="http://downloads.malwarebytes.org/file/mbar/">Malwarebytes Anti-Rootkit</a></li>
                        <li><a href="http://www.bleepingcomputer.com/download/hitmanpro/dl/175/">Hitman Pro 32-bit</a></li>
                        <li><a href="http://www.bleepingcomputer.com/download/hitmanpro/dl/176/">Hitman Pro 64-bit</a></li>
                        <li><a href="http://www.bleepingcomputer.com/download/roguekiller/dl/121/">Roguekiller</a></li>
                        <li><a href="https://toolslib.net/downloads/finish/1/">AdwCleaner</a></li>
                        <li><a href="http://www.bleepingcomputer.com/download/combofix/dl/12/">Combofix</a></li>
                        <li><a href="http://www.bleepingcomputer.com/download/rkill/dl/10/">Rkill</a></li>
                        <li><a href="http://www.bleepingcomputer.com/download/junkware-removal-tool/dl/131/">JRT</a></li>
                        <li><a href="http://www.bleepingcomputer.com/download/tdsskiller/dl/4/">TDSS Killer</a></li>
                        <li><a href="http://www.bleepingcomputer.com/download/windows-repair-all-in-one/dl/265/">All in one repair</a></li>
                        <li><a href="http://download.cnet.com/Advanced-SystemCare-Free/">Advanced System Care</a></li>
                    </ul>
                    </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <h3>Anti Virus Removal Tools</h3>
                        <ul>
                            <li><a href="http://www.bleepingcomputer.com/download/kasperksy-lab-products-remover/">Kasperksy Lab Products</a></li>
                            <li><a href="http://www.bleepingcomputer.com/download/norton-removal-tool/dl/48/">Norton</a></li>
                            <li><a href="http://www.bleepingcomputer.com/download/avg-remover-2012/dl/38/">AVG 32-bit</a></li>
                            <li><a href="http://www.bleepingcomputer.com/download/avg-remover-2012/dl/84/">AVG 64-bit</a></li>
                            <li><a href="http://www.bleepingcomputer.com/download/microsoft-security-essentials-removal-tool/dl/53/">Microsoft Security Essentials</a></li>
                            <li><a href="http://www.bleepingcomputer.com/download/avast-software-uninstall-utility/dl/37/">Avast</a></li>
                            <li><a href="http://www.bleepingcomputer.com/download/mcafee-consumer-products-removal-tool/dl/51/">McAfee</a></li>
                            <li><a href="http://downloads.wontok.info/Telstra/onlinesecurity/uninstaller.exe">ToS Uninstaller</a></li>
                            <li><a href="https://wontok.zendesk.com/hc/en-us/articles/202406180-Uninstalling-Telstra-Online-Security-for-Mac-using-the-Removal-tool-script">ToS Uninstaller Mac</a></li>
                        </ul>
                    </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <h3>Mac Anti Virus Tools</h3>
                        <ul>
                            <li><a href="https://www.clamxav.com/downloads/ClamXav_2.8.2.dmg">ClamXav</a></li>
                            <li><a href="http://www.avg.com/thank-you?product=avc_mac&amp;build=avc_mac01">AVG</a></li>
                            <li><a href="http://global-shared-files-l3.softonic.com/5ef/22a/14137266bb0bca5eaf7c684e234ea55264/file?nvb=20141125220544&amp;nva=20141126100644&amp;token=089ff17285c238f6acd37&amp;instance=softonic_en&amp;filename=avast_free_antivirus_mac_setup.dmg">Avast Mac</a></li>
                            <li><a href="https://www.piriform.com/ccleaner/download?mac">CCleaner </a></li>
                            <li><a href="http://www.adwaremedic.com/AdwareMedic.dmg">AdawareMedic </a></li>
                            <li><a href="http://www.adwaremedic.com/kb/unsolved.php">Mac malware troubleshooting walkthrough </a></li>
                        </ul>
                    </a>
                </div>

                <div class="col-sm-4 portfolio-item">
                    <h3>Free email clients</h3>
                        <ul>
                            <li><a href="http://go.microsoft.com/fwlink/?LinkID=255475">Window Live Mail</a></li>
                            <li><a href="https://download.mozilla.org/?product=thunderbird-31.2.0&amp;os=win&amp;lang=en-GB">Thunder Bird</a></li>
                            <li><a href="http://www.opera.com/download/get/?id=35801&amp;location=395&amp;nothanks=yes&amp;sub=marine">Opera Mail</a></li>
                        </ul>
                    </a>
                </div>

                <div class="col-sm-4 portfolio-item">
                    <h3>Other Tools</h3>
                        <ul>
                            <li><a href="http://www.piriform.com/ccleaner/download">Ccleaner</a></li>
                            <li><a href="http://www.bleepingcomputer.com/download/treesize-free/dl/114/">Treesize Free</a></li>
                            <li><a href="http://www.bleepingcomputer.com/download/autoruns/dl/185/">Autoruns</a></li>
                            <li><a href="http://www.bleepingcomputer.com/download/defraggler/dl/195/">Defraggler</a></li>
                            <li><a href="http://www.bleepingcomputer.com/download/recuva/dl/197/">Recuva</a></li>
                            <li><a href="http://www.bleepingcomputer.com/download/revo-uninstaller/dl/47/">Revo Uninstaller</a></li>
                            <li><a href="http://www.shadowexplorer.com/uploads/ShadowExplorer-0.9-setup.exe">Shadow Explorer</a></li>
                            <li><a href="http://www.fosshub.com/Classic-Shell.html/ClassicShellSetup_4_2_1.exe">Classic Shell</a></li>
                            <li><a href="https://www.magicaljellybean.com/keyfinder/">Magical Jellybean</a></li>
                        </ul>
                    </a>
                </div>

                <div class="col-sm-4 portfolio-item">
                    <h3>Free Anti Virus Downloads</h3>
                        <ul>
                           <li><a href="http://www.avast.com/en-au/download-thank-you.php?product=FAV-ONLINE&amp;locale=en-au">AVAST</a></li>
                            <li><a href="http://download.avgfree.com/filedir/inst/avg_free_x86_all_2014_4744a7830.exe">AVG 32-bit</a></li>
                            <li><a href="http://download.avgfree.com/filedir/inst/avg_free_x64_all_2014_4744a7830.exe">AVG 64-bit</a></li>
                            <li><a href="http://windows.microsoft.com/en-au/windows/security-essentials-all-versions">MS Security Essentials</a></li>
                            <li><a href="http://download.comodo.com/cis/download/installs/2000/partners/cav_installer_5951_60.exe?track=5951">Comodo Free</a></li>
                        </ul>
                    </a>
                </div>


            </div>
        </div>
    </section>

{% endblock %}
{% block sixth_section %}
{% endblock %}