{% extends "base.html" %}
{% block content %}

            <h1>
                Welcome to Titanite Studios
            </h1>
            <small>
                 <h2>
                Parachute
            </h2>
                Our new free game now on the iOS App Store: <a href="https://itunes.apple.com/au/app/parachute/id957240669?mt=8">Parachute</a>



 is a simple yet addictive game, where the players main goal is to avoid the planes for as long as possible, by tilting the phone left right or up and down.



  <h2>
        Tech Wiz
  </h2>
Now Available on the iOS App Store: <a href="https://itunes.apple.com/au/app/techwiz/id923803405?mt=8">TechWiz</a>

 is designed to assist in the troubleshooting of common computer problems.  You can have the expertise of a computer technician at your fingertips without the cost.  The app also includes helpful tips and tricks for fixing and maintaining your own computer.

With the use of this app you could be your own IT technician.
            </small>

{% endblock %}