{% extends "base.html" %}
{% block menu_animation %}
      <li>
          <a href="index.html"><i class="fa fa-th-large"></i> <span class="nav-label">Home</span></a>
      </li>
      <li class="active">
          <a href="avlinks.html"><i class="fa fa-th-large"></i> <span class="nav-label">AVLinks</span> </a>
      </li>
      <li>
          <a href="about.html"><i class="fa fa-th-large"></i> <span class="nav-label">About Us</span> </a>
      </li>
      <li>
          <a href="minor.html"><i class="fa fa-th-large"></i> <span class="nav-label">Contact Us</span> </a>
      </li>
{% endblock %}
{% block content %}

<div class="row">
    <div class="col-lg-12">
        <div class="text-center m-t-lg">
            <h1>
                AVLINKS
            </h1>
            <small>
                Welcome to Titanite Studios, AVLINKS PAGE... links to come
<div class="color-palette">
    <section class="color-group">
    <ul>
      <li class="color main-color" style="background-color: #4caf50;">
        <span class="name dark">Virus Removal Tools</span>
      </li>
      <li class="color dark" style="background-color: #a5d6a7;"><a href="http://www.superantispyware.com/downloadfile.html?productid=SUPERANTISPYWAREFREE">Super Anti-spyware</a></li>
      <li class="color dark" style="background-color: #c8e6c9;"><a href="http://www.bleepingcomputer.com/download/hijackthis/dl/89/">Hijackthis</a></li>
      <li class="color dark" style="background-color: #a5d6a7;"><a href="http://www.spybotupdates.com/files/spybotsd162.exe">Spybot Search &amp; Destroy</a></li>
      <li class="color dark" style="background-color: #c8e6c9;"><a href="http://downloads.malwarebytes.org/file/mbam/">Malwarebytes Anti-Malware</a></li>
      <li class="color dark" style="background-color: #a5d6a7;"><a href="http://downloads.malwarebytes.org/file/mbar/">Malwarebytes Anti-Rootkit</a></li>
      <li class="color dark" style="background-color: #c8e6c9;"><a href="http://www.bleepingcomputer.com/download/hitmanpro/dl/175/">Hitman Pro 32-bit</a></li>
      <li class="color dark" style="background-color: #a5d6a7;"><a href="http://www.bleepingcomputer.com/download/hitmanpro/dl/176/">Hitman Pro 64-bit</a></li>
      <li class="color dark" style="background-color: #c8e6c9;"><a href="http://www.bleepingcomputer.com/download/roguekiller/dl/121/">Roguekiller</a></li>
      <li class="color dark" style="background-color: #a5d6a7;"><a href="https://toolslib.net/downloads/finish/1/">AdwCleaner</a></li>
      <li class="color dark" style="background-color: #c8e6c9;"><a href="http://www.bleepingcomputer.com/download/combofix/dl/12/">Combofix</a></li>
      <li class="color dark" style="background-color: #a5d6a7;"><a href="http://www.bleepingcomputer.com/download/rkill/dl/10/">Rkill</a></li>
      <li class="color dark" style="background-color: #c8e6c9;"><a href="http://www.bleepingcomputer.com/download/junkware-removal-tool/dl/131/">JRT</a></li>
      <li class="color dark" style="background-color: #a5d6a7;"><a href="http://www.bleepingcomputer.com/download/tdsskiller/dl/4/">TDSS Killer</a></li>
      <li class="color dark" style="background-color: #c8e6c9;"><a href="http://www.bleepingcomputer.com/download/windows-repair-all-in-one/dl/265/">All in one repair</a></li>
      <li class="color dark" style="background-color: #a5d6a7;"><a href="http://download.cnet.com/Advanced-SystemCare-Free/3001-2086_4-10407614.html?hlndr=1&amp;part=dl-">Advanced System Care</a></li>
    </ul>
  </section>


  <section class="color-group">
    <ul>
      <li class="color main-color" style="background-color: #8bc34a;">
        <span class="name dark">Light Green</span>
        <span class="shade dark">500</span>
        <span class="hex dark">#8bc34a</span>
      </li>
      <li class="color dark" style="background-color: #f1f8e9;"><span class="shade expanded">50</span><span   class="hex">#f1f8e9</span></li>
      <li class="color dark" style="background-color: #dcedc8;"><span class="shade">100</span><span class="hex">#dcedc8</span></li>
      <li class="color dark" style="background-color: #c5e1a5;"><span class="shade expanded">200</span><span class="hex">#c5e1a5</span></li>
      <li class="color dark" style="background-color: #aed581;"><span class="shade">300</span><span class="hex">#aed581</span></li>
      <li class="color dark" style="background-color: #9ccc65;"><span class="shade expanded">400</span><span class="hex">#9ccc65</span></li>
      <li class="color dark" style="background-color: #8bc34a;"><span class="shade">500</span><span class="hex">#8bc34a</span></li>
      <li class="color dark" style="background-color: #7cb342;"><span class="shade expanded">600</span><span class="hex">#7cb342</span></li>
      <li class="color light-strong" style="background-color: #689f38;"><span class="shade">700</span><span class="hex">#689f38</span></li>
      <li class="color" style="background-color: #558b2f;"><span class="shade expanded">800</span><span class="hex">#558b2f</span></li>
      <li class="color" style="background-color: #33691e;"><span class="shade expanded">900</span><span class="hex">#33691e</span></li>
      <li class="color dark divide" style="background-color: #ccff90;"><span class="shade accent">A100</span><span class="hex">#ccff90</span></li>
      <li class="color dark" style="background-color: #b2ff59;"><span class="shade accent expanded">A200</span><span class="hex">#b2ff59</span></li>
      <li class="color dark" style="background-color: #76ff03;"><span class="shade accent expanded">A400</span><span class="hex">#76ff03</span></li>
      <li class="color dark" style="background-color: #64dd17;"><span class="shade accent">A700</span><span class="hex">#64dd17</span></li>
    </ul>
  </section>


  <section class="color-group">
    <ul>
      <li class="color main-color" style="background-color: #cddc39;">
        <span class="name dark">Lime</span>
        <span class="shade dark">500</span>
        <span class="hex dark">#cddc39</span>
      </li>
      <li ><span class="shade expanded">50</span><span   class="hex">#f9fbe7</span></li>
        <li ><span class="shade expanded">50</span><span   class="hex">#f9fbe7</span></li>
        <li ><span class="shade expanded">50</span><span   class="hex">#f9fbe7</span></li>
        <li ><span class="shade expanded">50</span><span   class="hex">#f9fbe7</span></li>
        <li ><span class="shade expanded">50</span><span   class="hex">#f9fbe7</span></li>
        <li ><span class="shade expanded">50</span><span   class="hex">#f9fbe7</span></li>
        <li ><span class="shade expanded">50</span><span   class="hex">#f9fbe7</span></li>
        <li ><span class="shade expanded">50</span><span   class="hex">#f9fbe7</span></li>
        <li ><span class="shade expanded">50</span><span   class="hex">#f9fbe7</span></li>
        <li ><span class="shade expanded">50</span><span   class="hex">#f9fbe7</span></li>
        <li ><span class="shade expanded">50</span><span   class="hex">#f9fbe7</span></li>
        <li ><span class="shade expanded">50</span><span   class="hex">#f9fbe7</span></li>
        <li ><span class="shade expanded">50</span><span   class="hex">#f9fbe7</span></li>
        <li ><span class="shade expanded">50</span><span   class="hex">#f9fbe7</span></li>
        <li ><span class="shade expanded">50</span><span   class="hex">#f9fbe7</span></li>
        <li ><span class="shade expanded">50</span><span   class="hex">#f9fbe7</span></li>
    </ul>
  </section>
</div>
            </small>
        </div>
    </div>
</div>
{% endblock %}